#home-btn {
    -fx-graphic: url('./imgs/home-icon.jpeg')
}

#settings-btn {
    -fx-graphic: url('./imgs/settings-icon.jpeg')
}

#reports-btn {
    -fx-graphic: url("./imgs/list-icon.jpeg")
}

#log-out-btn {
    -fx-graphic: url("./imgs/log-out-icon.jpeg")
}